# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Windows/IDE
.vs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Dependencies
node_modules
jspm_packages
obj
bin

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build/Environment
dist
build
.env
